.main-content{
    margin-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    max-height: 100vh; /* Set a maximum height for scrollability */
    overflow-y: auto;
    color: rgb(64, 59, 59);
}

.main-heading{
    font-size: 30px;
}
