body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    text-align: center;
    height: max-content;
  }
  
  .login-box {
    padding: 10px;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px; /* Adjust the width to your preference */
    height: max-content; /* Adjust the height to your preference */
    margin: auto; /* Center the box horizontally */
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
  }
  
  input {
    width: 300px;
    height: 23px;
    margin-bottom: 10px;
    margin-top: 20px;
  
    padding: 8px;
    border: 1px solid #666;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    width: 290px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 60px; /* Add margin-top to create space between the input fields and the button */
  
  }
  
  button:hover {
    background-color: #2185d0;
  }
  
  p {
    color: #3498db;
    text-decoration: none;
  }
  
  p:hover {
    text-decoration: underline;
    cursor: pointer;
  }