.div-Tweet{
    display: flex;
    flex-direction: column;
    background-color: #fafbfc;
    width: 600px;
    color:rgb(0, 0, 0);
    border: 0.5px solid black;
    border-radius: 5px;
    margin-bottom: 1px;
    padding : 10px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.div-Tweet:hover{
    cursor: pointer;
    background-color: #80868902; /* Set the hover background color */ 
    
}
.Top-Tweet{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height : 30px;
    font-size: 13px;
}
#img-Tweeter{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
.main-Tweet{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 10px;
    background-color:#4996ef9c;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.result-Tweet{
    height : 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    font-size: 8px;
    justify-content: right;
}